.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-img-container {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,0,0.6474964985994398) 72%, rgba(255,0,0,1) 100%);
}

.main-page-info-box {
  position: relative;
    top: -5rem;
    left: -2rem;
    display: inline-flex;
}

.white-red-secondary-page-footer {
  right: -5rem;
  z-index: 10;
  width: 130rem;
  height: 10rem;
  position: relative;
  background-color: white;
  padding: inherit;
  transform: translateY(20px) translateX(5px) rotate(+13deg) !important;
  top: 5rem;
  left: -2rem;
  position: relative;
  z-index: 1;
}

.white-red-secondary-page-footer-vertical {
  right: -5rem;
  z-index: 10;
  width: 124rem;
  height: 23rem;
  position: relative;
  background-color: white;
  padding: inherit;
  transform: translateY(20px) translateX(5px) rotate(+78deg) !important;
  top: -11rem;
  left: -12rem;
  position: relative;
  z-index: 1;
}

.more-img {
  position: fixed;
  top: 27rem;
  right: .5rem;
  width: 4rem;
}

.secondary-img-container {
  height: 40rem;
}

img.secondary-img {
  width: 100%;
  float: left;
  margin-left: -1rem;
  position: relative;
  top: -45rem;
}

.main-page-info-box-span {
  color: red;
  text-align: left;
  font-weight: 700;
  font-size: 1.7rem;
}

.main-img {
  position: relative;
  left: 9rem;
  opacity: 0.2;
  width: 82.45rem;
  box-shadow: 0 0 20px 20px red;
  box-shadow: -20px 1px 20px 20px red inset;
  background-color: red;
  filter: blur(3px);
}

.right-bar {
  background-color: white;
    max-width: 6rem !important;
    right: -4.6rem;
    position: relative;
    padding: 0rem;
    margin: 0;
    z-index: 11;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
