.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-container {
    background-color: rgb(255, 0, 0);
    height: 20rem;
    padding-top: 2rem;
    color: white;
    position: relative;
    z-index: 10;
}

.carousel-img {
    width: 10rem;
    border-radius: .4rem;
    border: .3rem solid white;
    margin-top: 2rem;
    height: 8rem;
}

.carousel-img-detail-span {
    padding: .1rem 3.7rem;
    border-radius: .2rem;
    font-weight: 500;
    font-size: 1.3rem;
    color: black;
    background-color: #eaeaea;
}

.diagonal-red-carrousel-footer {
    right: -5rem; 
    z-index: 10;
    width: 105%;
    height: 13rem;
    position: relative;
    background-color: red;
    transform: translateY(20px) translateX(5px) rotate(+5deg) !important;
    top: -7rem;
    left: -2rem;
}
  